<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
   <kathanon.CategorizedBillMenus.GeneralTitle>General</kathanon.CategorizedBillMenus.GeneralTitle>
   <kathanon.CategorizedBillMenus.GeneralTooltip>General options.</kathanon.CategorizedBillMenus.GeneralTooltip>
   <kathanon.CategorizedBillMenus.SubMenusTitle>Sub-menu setup</kathanon.CategorizedBillMenus.SubMenusTitle>
   <kathanon.CategorizedBillMenus.SubMenusTooltip>Configure what sub-menus are generated.</kathanon.CategorizedBillMenus.SubMenusTooltip>
   <kathanon.CategorizedBillMenus.CategoriesTitle>Included categories</kathanon.CategorizedBillMenus.CategoriesTitle>
   <kathanon.CategorizedBillMenus.CategoriesTooltip>Uncheck any categories that should not be used in menus.</kathanon.CategorizedBillMenus.CategoriesTooltip> <!-- TODO: improve -->
   <kathanon.CategorizedBillMenus.OpenTooltip>Collapse</kathanon.CategorizedBillMenus.OpenTooltip>
   <kathanon.CategorizedBillMenus.ClosedTooltip>Expand</kathanon.CategorizedBillMenus.ClosedTooltip>
   <kathanon.CategorizedBillMenus.CollapseOption>Collapse sub-menus with only one item</kathanon.CategorizedBillMenus.CollapseOption>
   <kathanon.CategorizedBillMenus.SearchOption>Add quick search field to menu</kathanon.CategorizedBillMenus.SearchOption>
   <kathanon.CategorizedBillMenus.SearchIfOption>if it contains at least {0} recipes</kathanon.CategorizedBillMenus.SearchIfOption>
   <kathanon.CategorizedBillMenus.RightAlignOption>Align info and favorite icons to the right</kathanon.CategorizedBillMenus.RightAlignOption>
   <kathanon.CategorizedBillMenus.NoneSelectedLabel>(select)</kathanon.CategorizedBillMenus.NoneSelectedLabel>

   <kathanon.CategorizedBillMenus.RuleBasedName>Rule-based</kathanon.CategorizedBillMenus.RuleBasedName>
   <kathanon.CategorizedBillMenus.RuleBasedDesc>Applies an editable list of simple rules.</kathanon.CategorizedBillMenus.RuleBasedDesc>
   <kathanon.CategorizedBillMenus.ByLimbName>Medical - By body part</kathanon.CategorizedBillMenus.ByLimbName>
   <kathanon.CategorizedBillMenus.ByLimbDesc>Organizes operation bills after what body part they apply to.</kathanon.CategorizedBillMenus.ByLimbDesc>
   <kathanon.CategorizedBillMenus.ByTypeName>Medical - By type</kathanon.CategorizedBillMenus.ByTypeName>
   <kathanon.CategorizedBillMenus.ByTypeDesc>Organizes operation bills after the type of procedure.</kathanon.CategorizedBillMenus.ByTypeDesc>
   <kathanon.CategorizedBillMenus.ManualName>Manual</kathanon.CategorizedBillMenus.ManualName>
   <kathanon.CategorizedBillMenus.ManualDesc>Freely reorder recipies and categories, as well as add new categories.</kathanon.CategorizedBillMenus.ManualDesc>
   <kathanon.CategorizedBillMenus.CategoriesName>Thing categories</kathanon.CategorizedBillMenus.CategoriesName>
   <kathanon.CategorizedBillMenus.CategoriesDesc>Place each item in a sub-menu corresponding to the first thing category it belongs to.</kathanon.CategorizedBillMenus.CategoriesDesc>
	<!--<kathanon.CategorizedBillMenus.></kathanon.CategorizedBillMenus.>-->
</LanguageData>
